:root {
    /* Colors */
    --background-color: #0d1118;
    --section-color: #151c23;

    --layer-one: #2d333b;
    --layer-two: #2e363e;
    --layer-three: #3d444d;

    --primary-color: #f0f6fc;
    --primary-color-dark: #c9d1d9;

    --purpel-color: #bc8cff;
    --black-color: #000000;
    --white-color: #ffffff;

    /* Spacing */
    --spacing: 1.25em;
    --dubble-spacing: 2.5em;
    --max-width: 80em;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--background-color);
    color: var(--primary-color);
}

h1 {
    font-size: 3.5em;
    font-weight: 900;
    letter-spacing: -0.02em;
    line-height: 1.1;
}

h2 {
    font-size: 2em;
    font-weight: 800;
    line-height: 1.3;
    margin-bottom: 0.75em;
    letter-spacing: 0.02em;
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 0.75em;
    letter-spacing: 0.02em;
}

p {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.015em;
    color: var(--secondary-color);
}

/* =============== Buttons =============== */

.button-container {
    display: flex;
    gap: var(--spacing);
    margin-top: 0.5em;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8em;
    min-width: 12em;

    position: relative;
    border-radius: 0.6em;

    font-size: 1.25em;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;

    transition: all 0.2s ease-out;
}

.button-content {
    padding-right: 0.5em;
}

.button-arrow {
    position: relative;
    display: inline-block;
    transition: transform 0.2s ease-out;
}

.button:hover .button-arrow::after {
    content: "—";
    position: absolute;
    right: 0.2em;
}

.button:hover .button-arrow {
    transform: translateX(0.3em);
}

/* =============== Primary Button =============== */

.primary-button {
    background-color: var(--primary-color);
    color: var(--black-color);
    border: none;
}

.primary-button:hover {
    box-shadow: 0 0 1.25em var(--primary-color, 0.1);
}

/* =============== Secondary Button =============== */

.secondary-button {
    background-color: transparent;
    color: var(--primary-color);
    border: 0.1em solid var(--purpel-color);
}

.secondary-button:hover {
    border-color: var(--primary-color);
}

/* =============== Header =============== */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    height: 90vh;
    background-image: url(./Assets/topography.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-content {
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    padding: var(--spacing);
}

/* =============== Sections =============== */

section {
    margin-bottom: var(--spacing);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    background-color: yellow;
}

.section-content {
    padding: var(--spacing);
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--spacing);
    margin-bottom: var(--dubble-spacing);
}

/* =============== Project Section =============== */

#project-section {
    background-color: var(--section-color);
}

#section-title {
    text-align: left;
    margin-top: var(--spacing);
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 1.5em;
    margin-top: 1em;
    justify-content:center;
}

.project {
    background-color: var(--background-color);
    padding: var(--dubble-spacing);
    border-radius: 20px;
    border: var(--layer-three) 0.1em solid;
}

#project-text {
    font-size: 1em;
    font-weight: 400;
    color: var(--primary-color-dark);
    margin-bottom: var(--spacing);
}

/* =============== Footer =============== */

footer {
    margin-bottom: var(--spacing);
}

/* =============== Mobile & Tablet =============== */

/* Tablet */
@media (max-width: 768px) {

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.75em;
    }

    h3 {
        font-size: 1.4em;
    }

    p {
        font-size: 1.1em;
    }

    .button {
        font-size: 1.1em;
    }

}

/* Mobile */
@media (max-width: 480px) {

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
    }

    p {
        font-size: 1em;
    }

    .button {
        font-size: 1em;
    }

}